// fonts
.f-Yeseva-One {
    font-family: 'Yeseva One', 'cursive', serif;
}

.f-Noto-Sans-TC {
    font-family: 'Noto Sans TC', sans-serif;
}

.f-Noto-Serif-TC {
    font-family: 'Noto Serif TC', serif;
}




// primary color


.yellow-color {
    color: #FBFF22;
}

.pink-color {
    color: #C96464;
}

.gray-color {
    color: #EBEAE3;
}

// font-size
.fz-base {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20{
    font-size: 20px;
}

.fz-32 {
    font-size: 32px;
}

.fz-48 {
    font-size: 48px;
}

.fz-60 {
    font-size: 60px;
}

.fz-64 {
    font-size: 64px;
}

// font-weight
.fw-700 {
    font-weight: 700;
}

// spacing

.mb-32 {
    margin-bottom: 32px;
}

.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.px-58 {
    padding-left: 58px;
    padding-right: 58px;
}