<div class="footer container-fluid f-Noto-Serif-TC fw-700 text-center py-5 py-md-6 border-top border-black border-2">
    <p class="fz-32 mb-3">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
    <p class="fz-18 mb-0">——我也不知道誰說的</p>
</div>

<div class="footer-copyright container f-Noto-Sans-TC text-center">
    <p class="mb-0">© 7TAO七逃. All Rights Reserved</p>
</div>