<div class="header container-fluid mb-32">
    <nav class="navbar navbar-expand-lg navbar-light py-0 ">
        <div class="container px-0 justify-content-md-between">
            <h1 class="logo d-flex align-items-center mb-0">
                <a href="index.html">
                    <img class="header-logo object-fit-cover me-3" src="../assets/images/2023week6/logo.png" alt="logo">
                </a>
                <span class="f-Yeseva-One fz-32 me-1 d-none d-lg-block">7TAO</span>
                <span class="f-Noto-Serif-TC fz-base fw-700 me-5 d-none d-lg-block">活動訂票網</span>
                <form class="header-form d-flex ms-3 align-items-center">
                    <input class="header-input form-control py-3 ps-4 rounded-0" type="search" placeholder="探索活動"
                        aria-label="Search">
                    <button class="btn btn-search rounded-0 p-3 d-flex flex-wrap " type="submit">
                        <i class="icofont icofont-search-1 search-icon"></i>
                    </button>
                </form>
            </h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto d-flex   align-items-lg-center">
                    <li class="register me-0 me-lg-4 my-3 d-flex">
                        <a href="#" class="d-flex align-items-center register-link">
                            <i class="icofont-ui-file admin-icon me-1 ps-1 ps-md-0"></i>
                            <span class="fz-18 f-Yeseva-One">REGISTER</span></a>
                    </li>
                    <li class="login d-flex">
                        <a target="_blank" href="login.html" class="d-flex align-items-center login-link">
                            <i class="icofont-ui-user me-1 ps-1 ps-md-0"></i>
                            <span class="fz-18 f-Yeseva-One">LOGIN</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>

</div>