<!-- swiper -->
<div class="container-fkuid">
    <div class="swiper-effect swiper mySwiper text-secondary f-Noto-Serif-TC fw-bold bg-black ">
        <div class="swiper-wrapper">
            <div class="swiper-effect-txt swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-effect-txt swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-effect-txt swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-effect-txt swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-effect-txt swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
        </div>
    </div>
</div>